* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Edu Tas Beginner', sans-serif;
}

.overlay {
    /* display: none; */
    z-index: 5000;
    position: fixed;
    height: 100vh;
    width: 100vh;
    text-align: center;
    padding: 45px;
}

.overlay img{
    width: 80%;
    height: 80%;
    display: inline-block;
}

.header {
  background-image: url('../img/wall.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  text-align: center;
  height: 100px;
}

.header h1{
    font-size: 50px;
}


.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url('../img/cork.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 100vh;
}

.row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    width: calc(100% / 3);
    padding: 5px;
}

.card{
    background-color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

#pin-img {
    position: absolute;
    z-index: 999;
    width: 25px;
    height: 25px;
    top: -12px;
    left: 45%;
}

.img-container {
  width: 80%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: inline-block;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


